/* for development purpose only since it loads faster*/

@import "antd/dist/antd.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 70px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Noto Sans Khmer";
}
